extends layout.pug 

block head 
    title Cave        

block content
    main#cave
        div#light
            div
        div#message

    audio#snd0(class='alert-sound' src="/sounds/cstm.wav") 
    audio#snd1(class='alert-sound' src="/sounds/low.wav")
    audio#snd2(class='alert-sound' src="/sounds/mid.wav")
    audio#snd3(class='alert-sound' src="/sounds/high.wav") 
    audio#snd4(class='alert-sound' src="/sounds/urg.wav") 
        