extends layout.pug 

block head
    script(defer src='/scripts/caveScript.js' type='text/javascript')
    title Cave        

block content
    main#cave
        div#light
            div
        
        section#statusCont(class='')
            div#statusLight
    div#messageCont
        ul#message
    
    audio(src='/sounds/better/click.mp3')
    audio#snd0(class='alert-sound' src="/sounds/cstm.wav") 
    audio#snd1(class='alert-sound' src="/sounds/low.wav")
    audio#snd2(class='alert-sound' src="/sounds/mid.wav")
    audio#snd3(class='alert-sound' src="/sounds/high.wav") 
    audio#snd4(class='alert-sound' src="/sounds/urg.wav") 
        