body {
    background-color: #444;
    color: white;
}
h1 {
    text-align: center;
}

/* CAVE */
#cave {
    background-color: #555;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}

#light {
    position: absolute;
    top: 40%;
    left: 50%;
    
    height: 50vh;
    width: 50vh;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #555;
    box-shadow: 0 0 1vh black, inset 0 .5vh 1vh #ffffff50, inset 0 -.5vh 1vh #00000050;
    border-top: 1px solid #ffffff50;
}
#light::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    border-top: 1px solid #ffffff05;
    box-shadow: inset 0 0 3vh #000000;
}

#light div {
    position: absolute;
    top: 50%;
    left: 50%;
    
    height: 39vh;
    width: 39vh;
    transform: translate(-50%, -50%);
    background-color: #cdcdcd;
    border-radius: 50%;
    box-shadow: inset 0 4vh 4vh #ffffff50, inset 0 -6vh 4vh #00000050;
}
/* #light div:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
    box-shadow:inset 0 -4vh 4vh #00000050, inset 0 2vh 4vh #e8e8e8;
    mix-blend-mode: overlay;
} */


#cave.lvl1 #light div {
    animation-name: lvl1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes lvl1 {
    0% {background-color: #cdcdcd;}
    50% {background-color: green;}
    100% {background-color: #cdcdcd;}
}
#cave.lvl2 #light div {
    animation-name: lvl2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes lvl2 {
    0% {background-color: #cdcdcd;}
    50% {background-color: yellow;}
    100% {background-color: #cdcdcd;}
}
#cave.lvl3 #light div {
    animation-name: lvl3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes lvl3 {
    0% {background-color: #cdcdcd;}
    50% {background-color: orange;}
    100% {background-color: #cdcdcd;}
}
#cave.lvl4 #light div {
    animation-name: lvl4;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes lvl4 {
    0% {background-color: #cdcdcd;}
    50% {background-color: red;}
    100% {background-color: #cdcdcd;}
}
#cave.lvl0 #light div {
    animation-name: lvl0;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes lvl0 {
    0% {background-color: #cdcdcd;}
    50% {background-color: blue;}
    100% {background-color: #cdcdcd;}
}

#cave.lvl1 #light::after {
    animation-name: fade1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes fade1 {
    0% {box-shadow: inset 0 0 3vh #00000080;}
    50% {box-shadow: inset 0 0 3vh #00000080, 0 0 80px green;}
    100% {box-shadow: inset 0 0 3vh #00000080;}
}
#cave.lvl2 #light::after {
    animation-name: fade2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes fade2 {
    0% {box-shadow: inset 0 0 3vh #00000080;}
    50% {box-shadow: inset 0 0 3vh #00000080, 0 0 80px yellow;}
    100% {box-shadow: inset 0 0 3vh #00000080;}
}
#cave.lvl3 #light::after {
    animation-name: fade3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes fade3 {
    0% {box-shadow: inset 0 0 3vh #00000080;}
    50% {box-shadow: inset 0 0 3vh #00000080, 0 0 80px orange;}
    100% {box-shadow: inset 0 0 3vh #00000080;}
}
#cave.lvl4 #light::after {
    animation-name: fade4;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes fade4 {
    0% {box-shadow: inset 0 0 3vh #00000080;}
    50% {box-shadow: inset 0 0 3vh #00000080, 0 0 80px red;}
    100% {box-shadow: inset 0 0 3vh #00000080;}
}
#cave.lvl0 #light::after {
    animation-name: fade0;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes fade0 {
    0% {box-shadow: inset 0 0 3vh #00000080;}
    50% {box-shadow: inset 0 0 3vh #00000080, 0 0 80px blue;}
    100% {box-shadow: inset 0 0 3vh #00000080;}
}

#message {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    border-radius: 2px;
    box-shadow: 0 0 1vh black;
    font-size: 4vh;
    padding: 4.5vh
}
#message::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(15vh - 1.5rem);
    width: calc(100vw - 1.5rem);
    box-shadow: inset 0 0 2vh #00000050;
}

/* ^^^ CAVE */

#homeMain {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#buttonsCont {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
}

#emrgCont {
    position: absolute;
    top: 55%;
    width: 100%;
}
#emrgCont h3 {
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}

.btn {
    position: relative;
    margin: 21px 0;
    height: 20vw;
    width: 20vw;
    background-color: #555;
    box-shadow: 0 0 2px black;
    border-radius: 50%;
    margin: 1rem;
    cursor: unset;
    border: 1px solid #77777750;
    border-bottom: none;
}
.btn::before {
    content: "";
    position: absolute;
    display: block;
    height: 16vw;
    width: 16vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 -4px 10px #77777750, inset 0 8px 4px #00000025, inset 0 -2px 8px #77777750;
    border-bottom: 1px solid #777;
}
.btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14vw;
    height: 14vw;
    transform: translate(-50%, -50%);
    background: #ddd;
    border-radius: 50%;
    box-shadow: 0 0 8px black, inset 0 1px 3px #9d9d9d75, inset 0 -2px 1px #00000075;
    cursor: pointer;
    z-index: 1;
    font-size: 32pt;
    color: white;
    text-shadow: 0 0 3px black;
    border-top: 1px solid #aaaaaa50;
}
.btn span:active {
    transform: translate(-50%, -50%) scale(.95);
    box-shadow: 0 0 4px black, inset 0 2px 1px #9d9d9d75, inset 0 -2px 1px #00000075;
}
.btn span::before {
    content: "";
    position: absolute;
    display: block;
    height: 11vw;
    width: 11vw;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    box-shadow: inset 0 6px 12px #00000025, inset 0 -4px 12px #eeeeee30;
    border-bottom: 1px solid #77777750;
    transform: translate(-50%, -50%);
}
.btn span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-low span {
    background-color: #136904d5;
}
.btn-low span::after {
    content: "1";
}
.btn-mid  span {
    background-color: #a8a801d5;
}
.btn-mid span::after {
    content: "2";
}
.btn-high  span {
    background-color: #c17d00d5;
}
.btn-high span::after {
    content: "3";
}
.btn-urg span {
    background-color: red;
}
.btn-urg span::after {
    content: "!";
}

.btn-low.alert span {
    animation-name: show1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes show1 {
    0% {box-shadow: 0 0 4px black, inset 0 2px 1px #9d9d9d75, inset 0 -2px 1px #00000075;}
    50% {box-shadow: 0 0 4px black, inset 0 2px 1px #9d9d9d25, inset 0 -2px 1px #00000025, 0 0 80px green}
    100% {box-shadow: 0 0 4px black, inset 0 2px 1px #9d9d9d75, inset 0 -2px 1px #00000075;}
}
.btn-mid.alert span {
    animation-name: show2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes show2 {
    0% {box-shadow: 0 0 4px black, inset 0 2px 1px #9d9d9d75, inset 0 -2px 1px #00000075;}
    50% {box-shadow: 0 0 4px black, inset 0 2px 1px #9d9d9d25, inset 0 -2px 1px #00000025, 0 0 80px yellow}
    100% {box-shadow: 0 0 4px black, inset 0 2px 1px #9d9d9d75, inset 0 -2px 1px #00000075;}
}
.btn-high.alert span {
    animation-name: show3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes show3 {
    0% {box-shadow: 0 0 4px black, inset 0 2px 1px #9d9d9d75, inset 0 -2px 1px #00000075;}
    50% {box-shadow: 0 0 4px black, inset 0 2px 1px #9d9d9d25, inset 0 -2px 1px #00000025, 0 0 80px orange}
    100% {box-shadow: 0 0 4px black, inset 0 2px 1px #9d9d9d75, inset 0 -2px 1px #00000075;}
}
.btn-urg.alert span {
    animation-name: show4;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes show4 {
    0% {box-shadow: 0 0 4px black, inset 0 2px 1px #9d9d9d75, inset 0 -2px 1px #00000075;}
    50% {box-shadow: 0 0 4px black, inset 0 2px 1px #9d9d9d25, inset 0 -2px 1px #00000025, 0 0 80px red}
    100% {box-shadow: 0 0 4px black, inset 0 2px 1px #9d9d9d75, inset 0 -2px 1px #00000075;}
}

#customBtnCont {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    z-index: 1;
}
#infoBtnCont {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    z-index: 1;
}
.customBtn, .infoBtn {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    
}


.homeMsg {
    position: absolute;
    left: 0;
    top: 0;
    text-align: end;
    height: 3rem;
    width: 100%;
    background: #555;
    box-shadow: 0 0 2px black;
    padding: .5rem;
    overflow: hidden;
}
.homeMsg::after {
	content: "";
	position: absolute;
	top: -2rem;
	left: -2rem;
	height: 4.5rem;
	width: calc(100% + 4rem);
	box-shadow: inset 0 0 12px #aaaaaa80;
}

#info {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: .25s;
}
#info .info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    padding: 2rem;
    border-radius: 8px;
    background-color: #555;
    box-shadow: 0 0 4px #00000050;
    border: 2px solid white;
    text-shadow: 0 0 3px black;
}
.info-box p {
    position: relative;
}

.info-box span::before {
    content: "";
    position: absolute;
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    left: -7px;
    top: 0;
    z-index: -1;
    border-radius: 50%;
}
.info-box h5 {
    text-indent: -8px;
}
.info-box p:nth-child(2) span::before {
    background-color: green;
}
.info-box p:nth-child(3) span::before {
    background-color: yellow;
}
.info-box p:nth-child(4) span::before {
    background-color: orange;
}
.info-box p:nth-child(5) span::before {
    background-color: red;
}
.info-box p:nth-child(5) {
    text-indent: 2px;
}

.info-box span {
    color: white;
}
#customForm {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: .25s;
    z-index: 2;
}
#customForm.show, #info.show {
    opacity: 1;
    pointer-events: all;
    transition: .25s;
}
.back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000060;
}
#customForm form {
    background: #444;
    padding: 1rem;
    border-radius: 8px;
    border: 3px solid white;
    position: absolute;
    height: 90vh;
    width: 90vw;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
}
#customForm textarea {
    position: relative;
    width: 100%;
    height: calc(100% - 4rem);
    min-height: 3rem;
    margin-bottom: 1rem;
}
#customForm button {
    height: 3rem;
    width: 100%;
    padding: unset 1rem;
    border-radius: 4px;
    background: green;
    color: white;
    border: 2px solid white;
}
#customForm button.cancel {
    background: red;
}

@media (max-width: 360px) {
	.btn {
		width: 40vw;
        height: 40vw;
	}
}
