body {
    background-color: #444;
    color: white;
}
h1 {
    text-align: center;
}

#homeMain {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#buttonsCont {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
}

#emrgCont {
    position: absolute;
    top: 55%;
    width: 100%;
}
#emrgCont h3 {
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}

.btn {
    position: relative;
    margin: 21px 0;
    height: 20vw;
    width: 20vw;
    background-color: #555;
    box-shadow: 0 0 2px black;
    border-radius: 50%;
    margin: 1rem;
    cursor: unset;
}
.btn::before {
    content: "";
    position: absolute;
    display: block;
    height: 16vw;
    width: 16vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: inset 0 8px 4px #00000025, inset 0 -2px 4px #777;
}
.btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14vw;
    height: 14vw;
    transform: translate(-50%, -50%);
    background: #ddd;
    border-radius: 50%;
    box-shadow: 0 0 8px black, inset 0 2px 1px #9d9d9d75, inset 0 -2px 1px #00000075;
    cursor: pointer;
    z-index: 1;
    font-size: 32pt;
    color: white;
    text-shadow: 0 0 3px black;;
}
.btn span:active {
    transform: translate(-50%, -50%) scale(.95);
    box-shadow: 0 0 4px black, inset 0 2px 1px #9d9d9d75, inset 0 -2px 1px #00000075;
}
.btn span::before {
    content: "";
    position: absolute;
    display: block;
    height: 11vw;
    width: 11vw;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    box-shadow: inset 0 6px 12px #00000025, inset 0 -4px 12px #eeeeee30;
    transform: translate(-50%, -50%);
}
.btn span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-low span {
    background-color: #136904d5;
}
.btn-low span::after {
    content: "1";
}
.btn-mid  span {
    background-color: yellow;
}
.btn-mid span::after {
    content: "2";
}
.btn-high  span {
    background-color: orange;
}
.btn-high span::after {
    content: "3";
}
.btn-urg span {
    background-color: red;
}
.btn-urg span::after {
    content: "!";
}

#customBtnCont {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    z-index: 1;
}
.customBtn {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    
}

.homeMsg {
    position: absolute;
    left: 0;
    top: 0;
    text-align: end;
    height: 3rem;
    width: 100%;
    background: #555;
    box-shadow: 0 0 2px black;
}
.homeMsg::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 2.5rem;
	width: 100%;
	box-shadow: inset 0 0 4px #ddd;
}

#customForm {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: .25s;
    z-index: 2;
}
#customForm.show {
    opacity: 1;
    pointer-events: all;
    transition: .25s;
}
#customForm .back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000060;
}
#customForm form {
    background: #444;
    padding: 1rem;
    border-radius: 8px;
    border: 3px solid white;
    position: absolute;
    height: 90vh;
    width: 90vw;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
}
#customForm textarea {
    position: relative;
    width: 100%;
    height: calc(100% - 4rem);
    min-height: 3rem;
    margin-bottom: 1rem;
}
#customForm button {
    height: 3rem;
    width: 100%;
    padding: unset 1rem;
    border-radius: 4px;
    background: green;
    color: white;
    border: 2px solid white;
}
#customForm button.cancel {
    background: red;
}

@media screen(min-width: 360px) {
	.btn {
		width: 100vw;
	}
}
